<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'back' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title class="main-header4">{{'quiz_result' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-grid fixed class="ion-no-padding">
    <ion-row *ngIf="!result">
      <ion-col  size="12">
        <ion-card style="height: 10rem;">
          <ion-card-content  class="ion-text-center">
            <p>  {{'no_data_found' | translate }}</p>
            <ion-button class="mt" routerLink="/" fill="outline">{{'start_quiz' | translate}}</ion-button>
          </ion-card-content>
         
        </ion-card>
      </ion-col>
    </ion-row>
    <div *ngIf="result">
      <div>
        <ion-row>
          <ion-col size-lg="6" size-md="12" size-sm="12" size="12">
            <ion-card>
              <ion-card-header>
                <h5>{{'mr_mrs' | translate}} <b>{{ result.name | titlecase}}</b>  {{'following_is_your_quiz_summary' | translate}}</h5>
              </ion-card-header>
              <ion-card-content >
                <div class="container">
                  <table>
                    <thead>
                      <tr>
                        <th colspan=3>{{'subject' | translate }}</th>
                        <th colspan=3>{{'difficulty' | translate }}</th>
                        <th colspan=3>{{'correct' | translate }}</th>
                        <th colspan=3>{{'incorrect' | translate }}</th>
                      <tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan=3>{{result.category | translate}}</td>
                        <td colspan=3>{{result.difficulty | translate}}</td>
                        <td colspan=3>{{result.correctAnswers }} </td>
                        <td colspan=3> {{result.incorrectAnswers}}  </td>
                      </tr>
                    </tbody>
                    <br><br><br>
                    <tfoot>
                      <tr>
                        <td colspan=4>{{'total_marks' | translate }} <b> {{result.totalMarks}}</b> </td>
                        <td colspan=4>{{'obt_marks' | translate }} <b> {{result.correctAnswers}}</b> </td>
                        <td colspan=4>{{'result' | translate }}: <b> {{result.result | translate}}</b></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-lg="6" size-md="12" size-sm="12" size="12">
            <ion-card>
              <ion-card-header>
                <h5> {{'result_card' | translate}}</h5>
              </ion-card-header>
              <ion-card-content>
                <canvas baseChart width="200" height="600" [datasets]="resultChartData" [labels]="resultLegends"
                  [colors]="resultChartColors" [options]="resultChartOptions" chartType="doughnut">
                </canvas>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</ion-content>